body{
  /* margin-top:10vh; */
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  margin:0;
  padding:0;
  overflow: hidden;
  
  /* font-family: 'Open Sans', sans-serif; */
}
audio{
  display: none;
}

.background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color:rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  text-align: center;
}
  
  #particles-js{

    position: fixed;
    width: 100%;
    height: 100%;
    z-index:99;

  }

#header{
  width: 100vw;
  height: 20vh;
  flex: 1;
  /* border:10px solid black;  */
}


#statement{
  height: 40vh;
  
  display: flex;
  font-weight: bold;
  font-size: 7vh;
  text-align: center;
  position:absolute;
  /* border:10px solid black;  */
  flex: 1;
}

#filler{
width:100vw;
background: transparent;
  height: 40vh;
  /* border:10px solid black;  */
  flex:1;
}

#aside{
  width: 40vh;
  height: 80vh;
  font-size: 3vh;
  background: transparent;
  z-index: 0 ;
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  /* border:10px solid black; */
  flex:1;
}
#icon{
  width:5vh;
  height:5vh;
  z-index: 0 ;
  text-align: center;
  flex:1;
}
#olee{
  margin-top: 200px;
  width:15vh;
  height:15vh;
  z-index: 0 ;
  border-radius:7.5vh;
  display:none;
  position:absolute;
  
}
@media only screen and (max-width: 500px)
  {
    #statement{
    margin:5px;
  }
}