*{
  /* border:1px solid red; */
}

html, body{
  font-family: 'Montserrat', sans-serif;
 
font-size: 1.5vh;
  padding: 0px;
  margin: 0px;
  /* font-family: 'Open Sans', sans-serif; */
}

#copyright{
  border: none;
  position: fixed;
  left: 10px;
  bottom: 0;
}

#particles-js{
height: 200vh;
width: 100vw;
position: fixed;
border: 1px solid darkgray;
/* z-index: -1; */
}

.background{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  /* position: relative; */
} 


#statement{
  font-family: 'Ubuntu', sans-serif;
  z-index: -1 ;
  /* height: 50vw; */
  font-weight: bold;
  position: relative;
  left: auto; 
  margin: 20px;
  top: 40vh;
  font-size: 7vh;
  color: black;
  /* text-align: center; */
  text-shadow: 1.5px 1.5px rgba(0, 0,0, 0.25);
}


#aside{
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 65vh;
    left: auto; 
  font-size: 2vh;
  font-weight: 900;
  color:rgb(3, 3, 3);
  z-index: 0 ;
}
#icon{
  opacity: 1;
  width:5.25vh;
  height:5.25vh;
  z-index: 0 ;
  text-align: center;
  margin: 5px;
  
  /* flex:1; */
}

#olee{
  background: transparent;
  position: relative;
  top: 300px;
  left: 600px;
  width:16vh;
  height:16vh;
  z-index: 0;
  border-radius:8vh;
  border: 1px solid white;
  box-shadow: 0px 3px rgba(0, 0,0, 0.25);
  display:none;
}
 .allworks{
  position: relative;
  top: 35vh;
  left: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  display: none;
  z-index: 0 ;
}
.work{
  margin:3.5px;
  border: 1px solid darkgray;
  overflow: hidden;
  height:20vh;
  width:20vh;
  box-shadow: 3px 3px rgba(0, 0,0, 0.1);
}


@media only screen and (max-width: 3600px)
  {
    #olee{
      background: transparent;
      margin-top:-100px;
      font-size: 1.75vh 
    }
    #statement{
      height: 30vh;
      width: 82vw;
      text-align: left;
    }
    
}
/* @media only screen and (max-width: 1000px)
  {
    #olee{
      background: transparent;
      margin-top:-225px;
      font-size: 1.75vh 
    }
    #statement{
      height: 30vh;
      width: 82vw;
    } */
   

@media only screen and (max-width: 800px)
  {
    #olee{
      background: transparent;
      top: 180px;
      left: 180px;
      z-index: 0 ;
    }
    #statement{
      height: 40vh;
      width: 95vw;
      text-align: right;
      top: 250px;
    }

    #icon{
      opacity: 1;
      width:5.75vh;
      height:5.75vh;
      z-index: 0 ;
      margin: 0px;
      text-align: center;
      /* flex:1; */
    }
    #aside{
      flex-direction: column;
      position: fixed;
      top: 30px;
        left: 20px; 
        font-size: 7.5px;
        color: white;
    }
    .allworks{
      position: relative;
      top: 20px;
         left: 80px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; 
      display: none;
      z-index: 0 ;
    }
   
}